/* Загальні стилі для всього сайту */
body {
    background-color: #121212; 
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

/* Стилізація спискового меню (Завдання 4) */
nav ul {
    list-style-type: none; /* Прибрати маркери */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex; /* Горизонтальне розташування */
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Реакція на наведення миші (Завдання 4) */
nav li a:hover {
    background-color: #1DB954; /* Зелений колір Spotify */
    color: black;
}

/* 3. Класи для контенту (Завдання 2) */
.highlight-box {
    border: 2px solid #1DB954;
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
    color: #1DB954;
    letter-spacing: 2px;
}

.info-text {
    font-size: 18px;
    font-style: italic;
    color: #bbb;
}
.button-download {
background-color: green;
color: white;
padding: 10px 20px;
border-radius: 5px;
border: none;
cursor: pointer;
}

.button-download:hover {
background-color: #1ed760;
}

.background-collab {
background-color: gray;
}
.background-collab::placeholder {
color: black;
opacity: 1;
}